{
    "extends": ["plugin:react/recommended", "airbnb", "airbnb/hooks", "prettier", "prettier/react"],
    "plugins": ["prettier", "react", "react-native"],
    "rules": {
        "prettier/prettier": [
            "warn",
            {
                "arrowParens": "always",
                "semi": false,
                "trailingComma": "none",
                "tabWidth": 2,
                "endOfLine": "auto",
                "useTabs": false,
                "singleQuote": true,
                "printWidth": 120,
                "jsxSingleQuote": true
            }
        ]
    }
}
